{{!-- STYLE SHEET --}}
<link rel="stylesheet" href="/CSS/userprofile.css">
<link rel="stylesheet" href="/CSS/starRadio.css">

{{!-- PROFILE CONTAINERS --}}
<div class="profile-container row">

  {{!-- REVIEWS CONTAINER --}}
  <div class="col-6">
    <h2 class="userBoxes">Reviews</h2>
    <div id="accordion">
      {{!-- RENDERS EACH EXPANDABLE REVIEW --}}
      {{#each parsedUserData.[0].reviews as |review|}}
      <div class="card expandable">
        <div class="card-header row">
          <h5 class="mb-0 col-10">
            <button class="btn btn-link titlebtn" id="edit-trigger-{{id}}" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}"
              aria-bs-expanded="false" aria-controls="collapse{{id}}">
              {{title}}
            </button>
          </h5>
        </div>
        <div id="collapse{{id}}" class="accordion-collapse collapse" aria-bs-labelledby="heading{{id}}" data-bs-parent="#accordion">
          <div class="card-body">
            <h6 class="revealedLabel">Content:</h6>
            <p name="" id="123" cols="75" rows="15">{{content}}</p>
            <br><br><br>
            <h6>Rating: <span class="hideMe" id="interact{{id}}">{{rating}}</span> </h6>
            
{{!-- PROFILE/HOME BUTTON --}}
<div class="header-icons">
  <a href="/profile" class="user-button"><i class="fas fa-user"></i></a>
  <a href="/" class="home-button"><i class="fas fa-home"></i></a>
</div>





{{!-- JS SCRIPTS --}}
{{!-- <script src="/JS/profile.js"></script> --}}
<script src="/JS/SearchedUserLogic.js"></script>